[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}

body {
	/*background-color: #91ced4;*/
	background-image: url("/images/restaurantback.jpg ");
	background-repeat: no-repeat;
	background-size: cover;
}

body * {
	box-sizing: border-box;
}

.header {
	background-color: #800000;
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.table-users {
	border: 1px solid #800000;
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100% - 2em);
	margin: 1em auto;
	overflow: hidden;
	width: 800px;
}

table {
	width: 100%;
}

table td, table th {
	color: #2b686e;
	padding: 10px;
}

table td {
	text-align: center;
	vertical-align: middle;
}

table td:last-child {
	font-size: 0.95em;
	line-height: 1.4;
	text-align: left;
}

table th {
	background-color: #daeff1;
	font-weight: 300;
}

table tr:nth-child(2n) {
	background-color: white;
}

table tr:nth-child(2n + 1) {
	background-color: #edf7f8;
}

@media screen and (max-width: 700px) {
	table, tr, td {
		display: block;
	}
	td:first-child {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100px;
	}
	td
	
	
	:not
	
	 
	
	(
	:first-child
	
	 
	
	)
	{
	clear
	
	
	:
	
	 
	
	both
	
	
	;
	margin-left
	
	
	:
	
	 
	
	100
	px
	
	
	;
	padding
	
	
	:
	
	 
	
	4
	px
	
	 
	
	20
	px
	
	 
	
	4
	px
	
	 
	
	90
	px
	
	
	;
	position
	
	
	:
	
	 
	
	relative
	
	
	;
	text-align
	
	
	:
	
	 
	
	left
	
	
	;
}

td:not (:first-child ):before {
	color: #91ced4;
	content: "";
	display: block;
	left: 0;
	position: absolute;
}

td:nth-child(2):before {
	content: "Name:";
}

td:nth-child(3):before {
	content: "Email:";
}

td:nth-child(4):before {
	content: "Phone:";
}

td:nth-child(5):before {
	content: "Comments:";
}

tr {
	padding: 10px 0;
	position: relative;
}

tr:first-child {
	display: none;
}

}
.header-right {
	text-align: right;
}

.headerPage {
	overflow: hidden;
	padding: 20px 10px;
	background-color: #000000;
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 20px;
	border-bottom-color: #800000
}

.logo {
	display: block;
	width: 100%;
	margin: 0 2px 0 2px;
}

.imagedish {
	
background-image: url("/images/veg2.jpg ");
height:150px;
width:150px;
border-radius: 50%;
  position: relative;
    bottom: -20px;
    left: 50px;
	
}

.cuisname {
	    position: relative;
    top: -100px;
    left: 300px;
}


.creationDateShow {
	position: relative;
    top: 50px;
    left: 50px;
}

.indicator {
	position: relative;
	left: 50px;
}

.peopleShow {
	position: relative;
	top: -20px;
    left: 120px;
}

.ingredients {
	position: relative;
	top: -180px;
	left: 500px;
}
.instructions {
	position: relative;
	top: -180px;
	left: 540px
}

.cuisnameEdit {
	    position: relative;
    top: 30px;
    left: 140px;
}


.creationDateShowEdit {
	position: relative;
    top: 50px;
    left: 50px;
}

.indicatorEdit {
	position: relative;
	top: 90px;
    left: 180px;
}

.peopleShowEdit {
	position: relative;
	top: 150px;
    left: 120px;
}

.ingredientsEdit {
	position: relative;
	top: -50px;
	left: 500px;
}
.instructionsEdit {
	position: relative;
	top: 20px;
	left: 500px
}

.buttonEdit {
	position: relative;
	top: 80px;
	left: 410px
}

.panel
{
	width: 30%;
	display: none;
	position:relative;
	left:70px;
}
#addDish
{
	position: relative;
	left:200px;
	top:10px;
}